body {
    background-color: #0d1a2d;
}

.container_main {
    background-color: #14273e;
    width: 300px;
    height: 450px;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    top: 115px;
    left: 500px;
    
    
}

h1 {
    position: relative;
    text-align: center;
    top: 235px;
    font-size: 20px;
    color: #f3ffff;
    font-style: oblique
    
}

h2 {
    position: relative;
    text-align: center;
    top: 245px;
    font-size: 15px;
    color: #4d617d;
    
    
}

h3 {
    position: relative;
    top: 435px;
    left: 540px;
    font-size: 15px;
    color: #52d3d9
    
    
}

h4 {
    position: relative;
    top: 397px;
    left: 690px;
    font-size: 15px;
    color: #4d617d;
    
    
}

h5 {
    position: relative;
    top: 387px;
    left: 537px;
    font-size: 15px;
    color: #4d617d;

}

.et_again{
    position: absolute;
    top: 450px;
    left: 532px;
    transition: 1s;

}

.et_again.et_again:hover {
    transform: scale(1.2);
}
.blue_again {
    width: 225px;
    height: 200px;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    top: 140px;
    left: 537px;
    transition: 1s;
}

.blue_again:hover {
    transform: scale(1.2);
}

.time_again{
    position: absolute;
    top: 450px;
    left: 678px;
    transition: 1s;

}

.time_again.time_again:hover {
    transform: scale(1.2);
}
 
.profile_again {
    width: 35px;
    height: 35px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    position: absolute;
    top: 510px;
    left: 537px;
    transition: 1s;
}

.profile_again:hover {
    transform: scale(1.2);
}

h6 {
    position: absolute;
    top: 235px;
    font-size: 15px;
    color: #f3ffff;
    font-style: oblique
}

a { 

    font-size: 15px;
    color: #f3ffff;
    font-style: oblique

}

.end {
    position: absolute;
    font-size: 15px;
    color: #4d617d;
    top: 519px;
    left: 580px;


}